# Documentation à propos de cette page : https://fshschool.org/docs/sushi/configuration/

id: ans.fhir.fr.tddui
canonical: https://interop.esante.gouv.fr/ig/fhir/tddui # the last part of canonical and id must be the same
name: TDDUI
title: Médicosocial - Transfert de données DUI
publisher:
  name: ANS
  url: https://esante.gouv.fr
status: active
version: 2.0.0 # shall conforms to Semantic Versioning https://fr.wiktionary.org/wiki/SemVer
fhirVersion: 4.0.1
copyrightYear: 2023+
releaseLabel: trial-implementation
jurisdiction: urn:iso:std:iso:3166#FR "FRANCE"

dependencies:
    hl7.fhir.fr.core: 2.1.0
    ans.fr.terminologies: latest
    hl7.fhir.extensions.r5: 4.0.1
    hl7.fhir.uv.extensions: 5.2.0	# NR - Ligne à supprimer lors de la prochaine release, rajoutée à cause d'un bug.
    ihe.iti.mhd: 4.2.0
parameters:
    shownav: 'true'
    path-expansion-params: '../../expansion-params.json' # for using French SNOMED CT Extension

pages:
    index.md:
        title: Accueil
    sfe.md:
        title : Volume 1 - Etude fonctionnelle
        sfe_cas_usage.md:
            title : Cas d'usage
        sfe_organisation_contexte_metier.md:
            title : Organisation du contexte métier
        sfe_transfert_des_donnees_a_un_tiers.md:
            title : Transfert des données à un tiers
        sfe_modelisation_contenu.md :
            title : Modélisation du contenu du DUI    
    description_flux.md:
        title : Volume 2 - Détail des transactions
        description_flux_synthese.md:
            title: Synthèse des flux
        description_flux_1_transmission_donnees_dui.md:
            title: Flux 1 - Transmission de données DUI
    tests.md:
        title: Solutions de tests        
    annexes.md:
        title: Annexes
        mapping_fonctionnel_FHIR.md:
            title: Mapping FHIR du modèle de contenu DUI
        annexes_documents_reference.md:
            title: Documents de référence
        annexes_acronymes.md:
            title: Acronymes
        annexes_codes_professions_roles_modes_exercices.md:
            title: Professions du médico-social
        securite.md:
            title: Sécurité
        downloads.md:
            title: Téléchargements et usages
    changes.md:
        title: Historique des changements

menu:
    Accueil : index.html
    Volume 1 - Etude fonctionnelle :
        Cas d'usage : sfe_cas_usage.html
        Organisation du contexte métier : sfe_organisation_contexte_metier.html
        Transfert des données à un tiers : sfe_transfert_des_donnees_a_un_tiers.html
        Modélisation du contenu du DUI : sfe_modelisation_contenu.html    
    Volume 2 - Détail des transactions :
        Synthèse des flux: description_flux_synthese.html
        Flux 1 - Transmission de données DUI: description_flux_1_transmission_donnees_dui.html
    Ressources de conformité: artifacts.html
    Tests: tests.html
    Annexes: 
        Mapping FHIR du modèle de contenu DUI : mapping_fonctionnel_FHIR.html
        Documents de référence: annexes_documents_reference.html
        Acronymes: annexes_acronymes.html
        Professions du médico-social : annexes_codes_professions_roles_modes_exercices.html
        Sécurité: securite.html
        Téléchargements et usage: downloads.html
    Historique: changes.html